@page "/inputfrm"

<h3>Component</h3>

<input type="checkbox">
<input type="date">
<input type="file">
<input type="number">
<input type="radio">
        <br />
        <br />

        <p>The value of message var is : @message</p>

@*        @for(int i=0;i<10;i++)
{

    <input placeholder="enter text here" value="@message">


}*@

<input placeholder="enter text here" value="@message">

<button @onclick="ChangeText">Magic</button>

@code {
    private int number;
    private string message;

    void ChangeText()
    {
        message = "Changed";
    }
}
