@page "/inputfrm"
@using blueFirstApp.Data;

<h3>Student Form </h3>

<EditForm Model=student OnValidSubmit="FormSubmited" OnInvalidSubmit="FormInvalidSubmited">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <p>
        <label>Enter Student Name</label>
        <InputText  @bind-Value="student.Name"/>
        <ValidationMessage For="()=>student.Name" />

    </p>

    <p>
        <label>Enter Student Age</label>
        <InputNumber @bind-Value="student.Age" />
        <ValidationMessage For="()=>student.Age" />

    </p>
    
   <button type="submit">Save</button>
    
</EditForm>


        <br />
        <br />

        <p>The value of message var is : @message</p>

@*        @for(int i=0;i<10;i++)
{

    <input placeholder="enter text here" value="@message">


}*@

@*<input placeholder="enter text here" value="@message">

<button @onclick="ChangeText">Magic</button>*@

@code {
    private int number;
    private string message;

    private Student student = new Student();

    void ChangeText()
    {
        message = "Changed";
    }
    
    void FormSubmited()
    {
        message = "Form Has Been Submited" +student.Name;
    }

    void FormInvalidSubmited()
    {
        message = "Please Fix the Error and Submit Again";
    }
}
